.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: $colour-primary;
    border-top: 2px solid lighten($colour-primary, 15);
    height: 140px;
    width: 100%;
    &__info {
        width: auto;
        height: 100%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 35px 30px;
        }
        &--link{
            display: inline;
            color: $colour-txt;
            font-size: map-get($font-size, large);
            & a{
                text-decoration: none;
                color: $colour-txt;
            }
            & a:hover{
                color: $colour-white;
            }
        }
    }
}