.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: $colour-txt;
    background: $colour-primary;
    height: 7rem;
    width: 100%;   
    &__info {
        width: auto;
        height: 100%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}