.header {
    background: $colour-primary;
    height: 245px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 2px solid lighten($colour-primary, 15);
    @media (max-width:992px) {
        height: 220px;
    }
    @media (max-width:576px) {
        height: 195px;
    }
    &__link {
        margin: auto;
    }   
    &__logo {
        width: auto;
        height: 100px;
        @media (max-width:922px) {
            height: 65px;
        }
    }
}