*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    background: $colour-white;
    margin-bottom: 225px;
    @media (max-width: 992px) {
        margin-bottom: 200px;
    }
    @media (max-width:576px) {
        margin-bottom: 155px;
    }
}