@font-face {
    font-family: 'montserrat_medium';
    src: url('../fonts/montserrat_medium/Montserrat-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'montserrat_medium', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.75rem;
}