.menu {
    padding: 0 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width:1640px) {
        padding: 0 4%;
    }
    @media (max-width:1240px) {
        padding: 0;
    }
    &__card {
        opacity: 1;
        overflow: hidden;
        width: 35%;
        height: 765px;
        margin: 50px;
        @media (max-width:1920px) {
            width: 38.5%;
            height: 735px;
        }
        @media (max-width:1170px) {
            width: 40%;
            height: 665px;
        }
        @media (max-width:1070px) {
            width: 38%;
            height: 600px;
        }
        @media (max-width:992px) {
            width: 65%;
            height: 600px;
        }
        @media (max-width: 576px) {
            width: 100%;
            height: 510px;
        }
        @for $i from 1 through $num-cards{
            &--shadow-#{$i} {
                animation: menu-#{$i} $anim-dur backwards infinite ease-in-out alternate;
                animation-delay: $anim-delay * $i;
                &:hover {
                    animation: menu-hover-#{$i} $anim-dur both cubic-bezier(.54,.18,0,.96);
                }
            }
        }
    }
    &__link {
        cursor: pointer;
        transition-duration: 1200ms;
        transition: perspective 100ms ease, translateZ() 500ms ease;
        &:hover {
            transform: perspective(750px) translateZ(40px);
        }
        @include card-preview($card);
        @media (max-width:576px) {
            font-size: larger;
        }
    }
    &__icon {
        display: inline-block;
        position: relative;
        @include gradient($icon);
        @media (max-width:576px) {
            text-align: center;
        }
    }
    &__img {
        @media (max-width:576px) {
            width: 50%;
        }
    }
    &__title {
        display: inline-block;
        position: relative;
        @include gradient($card);
    }
}
.menu-soon {
    max-width: 655px;
    margin: 45px auto;
    padding: 1rem;
    background-color: $colour-primary;
    text-align: center;
    border-radius: 25px;
    color: $colour-txt;
    font-size: map-get($font-size, xl);
    transition: all 550ms;
    &__text{
        span {
            animation: dot 1000ms both infinite ease-in-out alternate;
        }
        span:nth-child(2) {
            animation-delay: 200ms;
        }
        span:nth-child(3) {
            animation-delay: 400ms;
        }
    }
    &:hover {
        cursor: pointer;
        color: $colour-white;
    }
    @media (max-width: 1920px) {
        font-size: map-get($font-size, large);
    }
    @media (max-width:992px) {
        max-width: 70%;
        font-size: map-get($font-size, medium);
    }
    @media (max-width:576px) {
        max-width: 90%;
        font-size: map-get($font-size, small);
    }
}

@include box-anim($card);
@include box-anim-hover($card);

@keyframes dot {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}