.menu__details {
    max-width: 1185px;
    margin: 50px;
    &--title {
        text-align: center;
        color: $colour-title-one;
        font-family: 'arial', serif;
        font-weight: bold;
        font-size: 58px;
        font-style: normal;
        margin-bottom: 50px;
    }
    &--prev{
        box-shadow: 1px 1px 22px lighten(grey, 35);
        width: 100%;
        height: auto;
    }
}