.menu-bloc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    &__card {
        max-width: 535px;
        margin: 50px;
        background: rgba(0, 0,2);
        box-shadow: 1px 1px 22px lighten(grey, 35);
        &:hover + .menu-bloc__card--prev {
            cursor: pointer;
            transform: scale(1.15);
        }
        &--prev{
            width: 100%;
            height: 100%;
            transform: scale(1);
            transition: transform 400ms;
        }
    }
    &__soon {
        max-width: 655px;
        margin: 45px auto;
        padding: 1rem;
        background-color: $colour-primary;
        text-align: center;
        border-radius: 25px;
        color: $colour-txt;
        font-size: map-get($font-size, xl);
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            cursor: pointer;
            color: $colour-white;
            transform: scale(1.15);
        }
        @media (max-width:922px) {
            max-width: 70%;
            font-size: map-get($font-size, medium);
        }
    }
}
.menu-bloc__card {
    &--prev {
        transform: scale(1);
        transition: transform 400ms;
    }
    &:hover + .menu-bloc__card--prev {
        transform: scale(1.15);
    }
}