@mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@mixin flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@mixin font-face($map){
    @each $mod, $val in $map {
      @font-face {
        font-family: $mod;
        src: url('../fonts/#{$val}') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
    }
}

@mixin card-prev($map) {
    @each $card-number, $val in $map{
      &--#{$card-number}{
      font-family: map-get($val, byline);
      font-size: map-get($val, byline-size);
      color: map-get($val, txt);
      background-color: map-get($val, bg);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-family: map-get($val, font-title);
        font-size: map-get($val, title-size);
        font-weight: lighter;
        width: 100%;
        text-align: center;
        @media (max-width:922px) {
            font-size: map-get($val, title-size)*0.65;
        }
        }
      }
    }
}

@mixin gradient($map) {
    @each $card-number, $val in $map {
        &--#{$card-number} {
            &::before{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: unquote(linear-gradient(to right,map-get($val, txt), map-get($val, gradient)));
                pointer-events: none;
                content: '';
                display: block;
                mix-blend-mode: lighten;
            }
        }
    }
}
