$colour-primary: #599b87;
$colour-secondary: #EDEDED;
$colour-accent: #D6FFF5;
$colour-txt: #FCCA46;
$colour-title: #353535;
$colour-white: #fff;
$colour-invalid: #DB464B;
$colour-success: green;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$font-size: (small:2.5rem, medium:3rem, large:4rem, xl:6rem);
$line-size: (small:3.5rem, medium:4rem, large:6rem, xl:8rem);