$colour-primary: #599b87;
$colour-secondary: #EDEDED;
$colour-accent: #D6FFF5;
$colour-txt: #FCCA46;
$colour-white: #FFF;
$colour-invalid: #DB464B;
$colour-success: green;
$colour-one: #FCDFDB;
$colour-two: #FFF5FE;
$colour-three: #F9F9F9;
$colour-four: #FDFFFD;
$colour-title-one: #3D1319;
$colour-title-two: #C77412;
$colour-title-three: #0887FB;
$colour-title-four: #72BF56;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;

$font-size: (small:2.5rem, medium:3rem, large:4rem, xl:6rem);
$line-size: (small:3.5rem, medium:4rem, large:6rem, xl:8rem);

$font-face: ('montserrat': 'montserrat.otf', 
            'devonshire': 'devonshire.ttf', 
            'flow':'flow.otf', 
            'croissant-one':'croissant-one.ttf', 
            'playfair-display':'playfair-display.otf', 
            'joelenehand':'joelenehand.ttf', 
            'dancing-script':'dancing-script.otf',  
            'kaushan-script':'kaushan-script.otf');


$icon:(
    one: (
        txt: #F15861, 
        gradient: lighten(#F78f6A, 2)
    )
);

$card: (
    one: (
        font-title: 'devonshire',    
        byline: 'flow',
        title-size: 45px,
        byline-size: 75px,
        bg: $colour-one,
        txt: $colour-title-one,
        gradient: $colour-title-one,
        ),
    two: (
        font-title:'croissant-one',    
        byline: 'playfair-display',
        title-size: 35px,
        byline-size: 60px,
        bg: $colour-two,
        txt: $colour-title-two,
        gradient: #905BFD,
    ),
    three: (
        font-title: 'dancing-script',    
        byline: 'joelenehand',  
        title-size: 50px,
        byline-size: 67px,
        bg: $colour-three,
        txt: $colour-title-three,
        gradient: lighten($colour-title-three, 25),
    ),
    four: (
        font-title: 'kaushan-script',    
        byline: 'joelenehand',   
        title-size: 50px,
        byline-size: 67px,
        bg: $colour-four,
        txt: $colour-title-four,
        gradient: lighten(#BFFF7E, 10),
    )
);
$card_back: (
    one: (
        font-title: 'devonshire',    
        byline: 'flow',
        title-size: 75px,
        byline-size: 75px,
        bg: $colour-one,
        txt: $colour-title-one,
        gradient: $colour-title-one,
        ),
    two: (
        font-title:'croissant-one',    
        byline: 'playfair-display',
        title-size: 35px,
        byline-size: 60px,
        bg: $colour-two,
        txt: $colour-title-two,
        gradient: #905BFD,
    ),
    three: (
        font-title: 'dancing-script',    
        byline: 'joelenehand',  
        title-size: 50px,
        byline-size: 67px,
        bg: $colour-three,
        txt: $colour-title-three,
        gradient: lighten($colour-title-three, 25),
    ),
    four: (
        font-title: 'kaushan-script',    
        byline: 'joelenehand',   
        title-size: 50px,
        byline-size: 67px,
        bg: $colour-four,
        txt: $colour-title-four,
        gradient: lighten(#BFFF7E, 10),
    )
);